imutils==0.5.4
Keras==2.4.3
Keras-Preprocessing==1.1.2
numpy==1.22.2
pandas==1.2.3
Pillow==10.3.0
PySimpleGUI==4.38.0
qtconsole==5.0.3
QtPy==1.9.0
scikit-learn==1.5.0
scipy==1.10.0rc1
seaborn==0.11.1
simplejson==3.16.0
tensorflow==2.4.1
tk==0.1.0
tqdm==4.59.0
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
